

header{ display: grid;
  grid-template-columns: 150px auto;
  margin-left: 20px;
  margin-top: 20px;
  
}


body {
  margin: 0;
  max-width: 1600px;
  /* medium-width: 768px; */
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

nav {
  margin-top: 30px;
  
}

nav a:nth-last-of-type(1) {
  margin-left: 1000px;
  background-color: red;
  width: 10px;
  padding: 25px;
  border-radius: 5px;
  opacity: .85;
  color: white;
  font-size: 18px;
}

nav a:nth-last-of-type(1):hover{
  background-color: white;
  color: #343434;
}

nav a {
  /* padding: 60px; */
  height: 20px;
  text-decoration: none;
  background-color: red;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 80px;
  color: white;
  border-radius: 5px;
  opacity: .85;
  font-size: 18px;
}

nav :hover {
  background-color: white;
  color: #343434;
  opacity: .75;
}


#page-img {
  display: grid ;
  grid-template-columns: repeat(6,1fr);
  /* grid-template-rows: 1fr 1fr 1fr; */
  margin-top: 300px;
  grid-gap: 50px;
  /* justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; */
  margin-left: 50px;
}


.img1 {
  width: 450px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  transform: rotate(10deg);
  opacity: .70;
}

.img2 {
  width: 450px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  transform: rotate(-10deg);
  margin-top: 20px;
  margin-left: 230px;
  opacity: .90;
}

.out {
  grid-column: 2/6 ;
  grid-row: 1/2;
  margin-left: 180px;
  /* font-size: 1rem; */
  padding: 20px;
  /* grid-row: 1/2; */
  color: white;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

div h3:nth-last-of-type(1){
  /* margin-left: 50px; */
  text-align: center;
}

div h3:nth-last-of-type(2) {
  text-align: center;
}
.out h4 {
  text-align: center;
  /* margin-left: 100px; */
 font-size: 25px;
}

.dw {
  text-decoration: none;
  background-color: rgb(230, 12, 12);
  color: white;
  margin-left: 210px;
  font-size: 20px;
  width: 30px;
  padding: 21px;
  border-radius: 5px;
  opacity: .92;

}

.cv {
  grid-column: 2/6;
  grid-row: 2/3;
  /* text-align: center; */
 
}

.cv :hover {
  color: #343434;
  background-color: white;
}

.down {
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

footer {
  margin-top: 100px;
  display: flex;
  grid-template-columns: repeat(3,fr1);
  padding-left: 35px;
  background-color: red;
  opacity: .50;
  color: rgb(248, 250, 247);
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
}

footer a:nth-of-type(1) {
  margin-top: 15px;
  padding-left: 400px;
  text-decoration: none;
  font-size: 15px;
  color: rgb(248, 250, 247);
}

.social {
  padding-left: 60px;

}

 /* About me css */


.progress-bar {
  width: 600px;
  height: 20px;
  background-color: #e0e0e0;
  padding: 0px;
  opacity: .8;
}

.progress {
  height: 100%;
  background-color: #e61005;
  text-align: center;

}

.bar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 20px;
  margin-top: 100px;
}

.skills {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
}

.bar1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.bar2 {
  grid-column: 1/2;
  grid-row: 3/4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.bar3 {
  grid-column: 1/2;
  grid-row: 4/5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.out-mm {
  grid-column: 2/3;
  grid-row: 1/5;
}

.img-mm {
  width: 150%;
  height: 60%;
  margin-top: 200px;
  margin-left: 80px;
  opacity: .9;
}


.s {
  border-bottom: solid rgb(255, 253, 253) 5px;
  border-bottom-left-radius: 9px;
  width: 800px;
}

.fir {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 120px;
}

.ff {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.f1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  
}
