

header{ display: grid;
  grid-template-columns: 150px auto;
  margin-left: 20px;
  margin-top: 20px;
  
}


body {
  margin: 0;
  max-width: 1600px;
  /* medium-width: 768px; */
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

nav {
  margin-top: 30px;
  
}

nav a:nth-last-of-type(1) {
  margin-left: 1000px;
  background-color: red;
  width: 10px;
  padding: 25px;
  border-radius: 5px;
  opacity: .85;
  color: white;
  font-size: 18px;
}

nav a:nth-last-of-type(1):hover{
  background-color: white;
  color: #343434;
}

nav a {
  /* padding: 60px; */
  height: 20px;
  text-decoration: none;
  background-color: red;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 80px;
  color: white;
  border-radius: 5px;
  opacity: .85;
  font-size: 18px;
}

nav :hover {
  background-color: white;
  color: #343434;
  opacity: .75;
}


#page-img {
  display: grid ;
  grid-template-columns: repeat(6,1fr);
  /* grid-template-rows: 1fr 1fr 1fr; */
  margin-top: 300px;
  grid-gap: 50px;
  /* justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; */
  margin-left: 50px;
}


.img1 {
  width: 450px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  transform: rotate(10deg);
  opacity: .70;
}

.img2 {
  width: 450px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  transform: rotate(-10deg);
  margin-top: 20px;
  margin-left: 230px;
  opacity: .90;
}

.out {
  grid-column: 2/6 ;
  grid-row: 1/2;
  margin-left: 180px;
  /* font-size: 1rem; */
  padding: 20px;
  /* grid-row: 1/2; */
  color: white;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

div h3:nth-last-of-type(1){
  /* margin-left: 50px; */
  text-align: center;
}

div h3:nth-last-of-type(2) {
  text-align: center;
}
.out h4 {
  text-align: center;
  /* margin-left: 100px; */
 font-size: 25px;
}

.dw {
  text-decoration: none;
  background-color: rgb(230, 12, 12);
  color: white;
  margin-left: 210px;
  font-size: 20px;
  width: 30px;
  padding: 21px;
  border-radius: 5px;
  opacity: .92;
}

.cv {
  grid-column: 2/6;
  grid-row: 2/3;
  /* text-align: center; */
 
}

.cv :hover {
  color: #343434;
  background-color: white;
}

.down {
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

footer {
  margin-top: 100px;
  display: flex;
  grid-template-columns: repeat(3,fr1);
  padding-left: 35px;
  background-color: red;
  opacity: .50;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
}

.social {
  padding-left: 900px;
  /* grid-column: 2/3; */
}

/* Styles for minimum screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  header {
    grid-template-columns: auto;
    justify-content: center;
  }
  
  nav {
    margin-top: 15px;
  }
  
  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  nav a:nth-last-of-type(1) {
    margin-left: 0;
    margin-top: 20px;
  }
  
  #page-img {
    grid-template-columns: repeat(6, 1fr);
    margin-top: 150px;
    margin-left: 10px;
    grid-gap: 20px;
  }
  
  .img2 {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    /* transform: rotate(-10deg); */
  }
  .img1 {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    /* transform: rotate(10deg); */
  }
  
  .out {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 10px;

  }
  
  .dw {
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .cv {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .down {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  footer {
    padding-left: 10px;
    font-size: 13px;
    justify-content: center;
  }
  
  .social {
    padding-left: 10px;
  }
}