body {
  margin: 0;
  max-width: 1600px;
  /* medium-width: 768px; */
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to bottom, #343434, #343434), linear-gradient(to bottom, #343434,#343434), linear-gradient(to bottom, #343434, #343434);
  background-size: 100% 100%, 100% 100%, cover;
  background-position: top left, top left, center;
  background-repeat: no-repeat, no-repeat, no-repeat;

}



header{ display: grid;
  grid-template-columns: 150px auto;
  margin-left: 20px;
  margin-top: 20px;
  font-family: "Geologica";
}


nav {
  margin-top: 30px;
  
}

nav a:nth-last-of-type(1) {
  margin-left: 1000px;
  background-color: #ff3232;
  width: 10px;
  padding: 25px;
  border-radius: 5px;
  opacity: .85;
  color: white;
  font-size: 18px;
}

nav a:nth-last-of-type(1):hover{
  background-color: white;
  color: #343434;
}

nav a {
  /* padding: 60px; */
  height: 20px;
  text-decoration: none;
  background-color: #ff3232;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 80px;
  color: white;
  border-radius: 5px;
  opacity: .85;
  font-size: 18px;
}

nav :hover {
  background-color: white;
  color: #343434;
  opacity: .75;
}


#page-img {
  display: grid ;
  grid-template-columns: repeat(6,1fr);
  /* grid-template-rows: 1fr 1fr 1fr; */
  margin-top: 300px;
  grid-gap: 50px;
  /* justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center; */
  margin-left: 50px;
}


.img1 {
  width: 450px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  transform: rotate(10deg);
  opacity: .70;
}

.img2 {
  width: 450px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  transform: rotate(-10deg);
  margin-top: 20px;
  margin-left: 230px;
  opacity: .90;
}

.out {
  grid-column: 2/6 ;
  grid-row: 1/2;
  margin-left: 180px;
  /* font-size: 1rem; */
  padding: 20px;
  /* grid-row: 1/2; */
  color: white;
  font-size: 18px;
  
  
}

div h3:nth-last-of-type(1){
  /* margin-left: 50px; */
  text-align: center;
}

div h3:nth-last-of-type(2) {
  text-align: center;
}
.out h4 {
  text-align: center;
  /* margin-left: 100px; */
 font-size: 25px;
}

.dw {
  text-decoration: none;
  background-color: #ff3232;
  color: white;
  margin-left: 210px;
  font-size: 20px;
  width: 30px;
  padding: 21px;
  border-radius: 5px;
  opacity: .92;
  font-family: Roboto, Helvetica, sans-serif;

}

.cv {
  grid-column: 2/6;
  grid-row: 2/3;
  /* text-align: center; */
 
}

.cv :hover {
  color: #343434;
  background-color: white;
}

.down {
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
}

h3, h4 {
  font-family: "Geologica";
}

footer {
  margin-top: 100px;
  display: flex;
  padding-left: 35px;
  background-color: #ff3232;
  opacity: .50;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
  font-family: Roboto, Helvetica, sans-serif;
}

footer a:nth-of-type(1) {
  margin-top: 15px;
  padding-left: 400px;
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.social {
  padding-left: 60px;

}

 /* About me css */


.progress-bar {
  width: 600px;
  height: 20px;
  background-color: white;
  padding: 0px;
  opacity: .8;
}

.progress {
  height: 100%;
  background-color: #ff3232;
  text-align: center;

}

.bar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 20px;
  margin-top: 100px;
}

.skills {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 0px;
  color: white;
}

.bar1 {
  grid-column: 1/2;
  grid-row: 2/3;
  color: white;
}

.bar2 {
  grid-column: 1/2;
  grid-row: 3/4;
  color: white;
}

.bar3 {
  grid-column: 1/2;
  grid-row: 4/5;
  color: white;
}

.out-mm {
  grid-column: 2/3;
  grid-row: 1/5;
}

.img-mm {
  width: 150%;
  height: 60%;
  margin-top: 200px;
  margin-left: 80px;
  opacity: .9;
}


.s {
  border-bottom: solid white 5px;
  border-bottom-left-radius: 9px;
  width: 800px;
  font-family: 'Geologica';
}

.fir {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 120px;
}

.ff {
  font-family: Roboto, Helvetica, sans-serif;
  color: white;
}

.f1 {
  font-family: 'Geologica';
  color: white;
  
}

h4 {
  font-family: 'Geologica';
}


/* more css */

.clearfix {
  content: "";
  display: table;
  clear: both;
  margin-left: 20px;
  color: white;
}


.img-m2 {
  width: 30%;
  float: right;
  /* padding-bottom: 100px; */
  margin-right: 60px;
}

li {
  padding: 20px;
  font-family: Roboto, Helvetica, sans-serif;
}

/* h1 {
  font-family: 'Geologica';
} */

.sec {
  margin-left: 20px;
  color: white;
  margin-top: 70px;
  margin-right: 90px;
}

.sec p {
  font-family: Roboto, Helvetica, sans-serif;
}

.sec h1 {
  font-family: 'Geologica';
}

.clearfix h1 {
  font-family: 'Geologica' ;
  border-bottom: solid white 3px;
  width: 40%;

}



@media (max-width: 768px) {
  header {
    grid-template-columns: auto; /* Make the logo and nav stack vertically */
    justify-content: center; /* Center the logo and nav */
    text-align: center; /* Center the nav links */
  }

  nav {
    margin-top: 10px; /* Reduce the top margin for the nav links */
  }

  nav a {
    margin: 10px; /* Increase the margin for the nav links */
  }

  nav a:nth-last-of-type(1) {
    margin-left: 10px;
  }

  #page-img {
    grid-template-columns: auto; /* Make the images stack vertically */
    grid-template-rows: repeat(4, 1fr); /* Stack the images and text vertically */
    margin-top: 30px; /* Adjust the top margin */
    grid-gap: 10px; /* Reduce the gap between images and text */
    margin-left: 0; /* Center the images and text */
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .img1,
  .img2 {
    width: 100%; /* Make images take full width */
    height: auto; /* Auto adjust image height */
    transform: none; /* Remove rotation */
    margin: 0; /* Remove margin for images */
  }

  .out {
    grid-column: auto; /* Align the text center */
    grid-row: auto; /* Align the text center */
    margin-left: 0; /* Center the text */
    padding: 20px;
  }

  .dw {
    /* margin-left: 0; Center the download button */
    text-align: center;
  } 

  .cv {
    grid-column: auto; /* Align the download button center */
    grid-row: auto; /* Align the download button center */
  }

  .down {
    margin-top: 30px; /* Adjust the top margin for the content text */
    margin-left: 20px; /* Adjust the left margin for the content text */
    margin-right: 20px; /* Adjust the right margin for the content text */
    font-size: 16px; /* Reduce the font size for content text */
  }
  
  footer {
    /* padding-left: 10px; Reduce padding for footer content */
    font-size: 14px; /* Reduce the font size for footer text */
    justify-content: center;
  }
}

/* .social {
  padding-left: 10px;
} */