#hero-msg h1, #hero-msg h4 {
   
    text-align: center;
}

/* #hero-box {
    border: 10px solid black;
} */

#content {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  
}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
} 

#background {
    height: 725px;
    background-color: #a7a1a1;
}

.mountains {
    margin-top: 75px;
    margin-bottom: 200px;
}

.card-img {
    border: 10px solid rgb(225, 215, 215);
}

.home-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: rgb(225, 215, 215);
}



.books, .join {
    background-color: rgb(225, 215, 215);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    color: black;
    border-radius: 5px;
}

a.join:hover {
    background-color: black;
    color: white;
}

a.books:hover {
    background-color: black;
    color: white;
}

.button-box {
    text-align: center;
}

.rivers-card{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.camping-card {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.rapid-card {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding: 10px;
}

/* .rivers-card {
    display: block;
    margin: 0 auto;
} */

.camping-card {
    display: block;
    margin: 0 auto;
}

.rivers-card, .camping-card, .rapid-card {
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}

header {
    background-color: #a7a1a1;
}

h2 {
    margin: 0;
}

nav a:link, nav a:visited {
    color: black;
}

nav a:hover {
    background-color: black;
    color: white;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

/* .h, .pn {
    text-align: center;
    background-color: #dee9f1;
}

a.book {
    background-color: #dee9f1;
    margin: 710px;
    /* text-align: center; */

body {
    /* background-color: #dee9f1; */
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* .mountains {
    margin-top: 10px;
    margin-bottom: 10px;
} */

.below {
    text-align: center;
    background-color: #a7a1a1;
    /* background-color: #6f7364; */
    line-height: 1.5em;
    padding: 35px;

}

.below p {
    padding-bottom: 15px;
}

a.book:hover {
    background-color: black;
    color: white;
}

footer p {
    font-size: 1.2em;
}

a {
    color: black;
}

a:link a:visited {
    color: black;
}

a {
    text-decoration: none;
}

/* footer p a:hover {
   
    background-color: black;
    color: white; */
 

footer .social img {
    padding-top: 15px;
}

footer p, p a {
    color: rgb(69, 68, 68);
}

footer  {
    background-color: #a7a1a1;
    padding: 25px 50px;
    margin-top: 200px;
}

/* footer p a {
    padding: 25px;
} */