#hero-msg h1, #hero-msg h4 {
   
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

#hero-img {
    width: 100%;
} 

#background {
    height: 725px;
    background-color: #dee9f1;
}

.books {
    background-color: #dee9f1;
}

a.books:hover {
    background-color: black;
    color: white;
}

.button-box {
    text-align: center;
}

.rivers-card{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.camping-card {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.rapid-card {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

/* .rivers-card {
    display: block;
    margin: 0 auto;
} */

.camping-card {
    display: block;
    margin: 0 auto;
}

header {
    background-color: #dee9f1;
}

nav a:link, nav a:visited {
    color: black;
}

nav a:hover {
    background-color: black;
    color: white;
}

nav a {
    text-decoration: none;
}

.h, .pn {
    text-align: center;
    background-color: #dee9f1;
}

a.book {
    background-color: #dee9f1;
    margin: 711px;
    
}

a.book:hover {
    background-color: black;
    color: white;
}

footer p {
    font-size: 1.2em;
}

a {
    color: black;
}

a:link a:visited {
    color: black;
}

a {
    text-decoration: none;
}

footer p a:hover {
   
    background-color: black;
    color: white;
} 

footer  {
    background-color: #dee9f1;
}