#hero-msg h1, #hero-msg h4 {
   
    text-align: center;
}

/* #hero-box {
    border: 10px solid black;
} */

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}


#hero-img {
    width: 100%;
} 


#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#background {
    height: 625px;
    background-color: #a7a1a1;
    grid-column: 1/12;
    grid-row: 4/9;
}

.mountains {
    margin-top: 75px;
    margin-bottom: 200px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img {
    border: 10px solid rgb(225, 215, 215);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}



.home-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: rgb(225, 215, 215);
}



.books, .join {
    background-color: rgb(225, 215, 215);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    color: black;
    border-radius: 5px;
}

a.join:hover {
    background-color: black;
    color: white;
}

a.books:hover {
    background-color: black;
    color: white;
}

.button-box {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(11, 10fr);
}

/* .msg {
  
    margin-left: 100px;
} */

.below {
    text-align: center;
    background-color: #a7a1a1;
    /* background-color: #6f7364; */
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.5em;
    padding: 35px;
    /* margin-left: 200px; */
    grid-column: 6/10;
    grid-row: 6/7;
    
}


.rivers-card{
    text-align: center;
    display: block;
    margin: 0 auto;
    grid-column: 2/4;
    grid-row: 2/6;
}

.camping-card {
    text-align: center;
    display: block;
    margin: 0 auto;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapid-card {
    text-align: center;
    display: block;
    margin: 0 auto;
    grid-column: 8/10;
    grid-row: 2/3;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding: 10px;
}

/* .rivers-card {
    display: block;
    margin: 0 auto;
} */

.camping-card {
    display: block;
    margin: 0 auto;
}

.rivers-card, .camping-card, .rapid-card {
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}

header {
    /* background-color: #a7a1a1; */
    display: grid;
    grid-template-columns: 150px auto;
}

h2 {
    margin: 0;
}

nav a:link, nav a:visited {
    color: white;
}

nav a:hover {
    background-color: black;
    color: #98a476;
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

/* .h, .pn {
    text-align: center;
    background-color: #dee9f1;
}

a.book {
    background-color: #dee9f1;
    margin: 710px;
    /* text-align: center; */

nav {
    display: flex;
    justify-content: space-around;
}

body {
    /* background-color: #dee9f1; */
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* .mountains {
    margin-top: 10px;
    margin-bottom: 10px;
} */



.below p {
    padding-bottom: 15px;
}

a.book:hover {
    background-color: black;
    color: white;
}

footer p {
    font-size: 1.2em;
}

a {
    color: black;
}

a:link a:visited {
    color: black;
}

a {
    text-decoration: none;
}

/* footer p a:hover {
   
    background-color: black;
    color: white; */
 
footer .social img {
    padding-top: 15px;
}

footer p, p a {
    color: rgb(54, 53, 53);
}

footer  {
    background-color: #a7a1a1;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* footer p a {
    padding: 25px;
} */



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}