body {
  /* display: flex; */
  background-image: url('/FORM/image/pexels-monstera-7412054.jpg');
  /* align-self: center; */
 
  /* align-content: end; */
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  border: 2px solid rgb(236, 233, 233);
  box-sizing: border-box;
  box-shadow: 5px 5px 15px 8px #6f7364;
  border-radius: 20%;

}

input:hover {
  transform: scale(1.1);
}



/* styles for button */

button {
  background-color: #24273d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.70;

}

button:hover {
  transform: scale(1.1);

}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #24273d;
}


.imgcontent {
  text-align: center;
  margin: 24px 0 12px 0;
}

img {
  width: 20%;
  border-radius: 50%;
  margin-top: 20px;
}

.container {
  padding: 16px;
  font-size: large;
}

span.psw {
  float: right;
  padding-top: 16px;
  text-decoration: none;
}

.content {
  background-color:
  0.2;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  /* border: 1px solid #888; */
  width: 30%; /* Could be more or less, depending on screen size */
  box-shadow: 10px 10px 15px 10px #888;
  border-radius: 25px;
  background: linear-gradient(to right,(#cfd3d6), rgba(0, 0, 0,1));
}



/* @keyframes changeColor {
  from { background-color: (#dadee1, 0.1); }
  to { background-color: rgba(0, 0, 0, 0.1); }
} */


  /* animation: changeColor 5s infinite alternate; */
  /* Animate background color change every 5 seconds */
  /* padding: 20px; */


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}