* {box-sizing: border-box;}
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial, sans-serif;

}

/* Header styles */
header {
  background-color: #333;
  padding: 0px 0px 0px 0px;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  width: 9%;
  z-index: 1;

}


nav a {
  /* margin-top: 40px; */
  display: grid;
  grid-template-columns: auto;
  color: #fdfcfc;
  text-decoration: none;
  /* font-size: 50px; */
  padding: 10px 5px;
}

/* .home p{
  font-size: 120%;
} */

nav  :nth-last-child(3) {
  background-color: black;
  width: 100%;
}

nav  {
  text-align: center;
}


nav a:hover {
  background-color: black;
  width: 100%;
  color: white;
  /* margin-left: auto; */
  /* left: 0; */
  text-decoration-line: none;
}

.image-container {
  position: relative;
  /* display: inline-block;  */
}

.image-container img {
  width: 100%;
  height: auto;
  /* display: block; */
}

.color-overlay {
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(164, 153, 153, 0.5); 
  pointer-events: none;  /* Allow interactions with the image beneath */
}


/* Hero section styles */
#hero {
  background-color: black;
  
  padding: 100px 0;
}

.hero-content h1 {
  font-size: 300%;
  color: rgb(233, 224, 224);
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.hero-content p {
  font-size: 120%;
  color: rgb(216, 211, 211);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-container1 {
  display: flex;
  /* justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center; */

}

.image-container1 img{
  max-width: 100%;
  height: auto;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0 auto;
}

/* About section styles */
#about {
  /* text-align: center; */
  padding: 80px 0;
  background-color: black;
}

.about-content h2 {
  font-size: 220%;
  color: rgb(233, 224, 224);
  margin-bottom: 20px;
  width: 50%;
  margin-left: 20%;
  border-bottom: #333 solid 2px;
  padding-bottom: 10px;
}

.about-content p {
  font-size: 18px;
  color: rgb(147, 142, 142);
  max-width: 800px;
  /* margin: 0 auto; */
  /* text-align: center; */
  margin-left: 20%;
  margin-right: 20%;
}
/* .line {
 border-bottom: #333 solid 1px;
 width: 15%;
 margin-left: 23%;
} */

.skill-bar {
  background-color: white;
  /* opacity: .8; */
  padding: 0;
  width: 100%;
  /* margin: 0 auto; */
}

.skill-progress {
  height: 40px;
  background-color: #5d5a5a;
  text-align: center;
  padding: 0;
}

.skill-content {
  display: grid;
  grid-template-columns: 1fr;
  /* margin: 0 auto; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  /* justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center; */
}


.skill-content h2 {
  grid-row: 1/2;
  font-size: 36px;
  color: rgb(233, 224, 224);
}
.bar-1 {
  grid-row: 3/4;
  color: rgb(147, 142, 142);
}

.bar-2 {
  grid-row: 4/5;
  color: rgb(147, 142, 142);
}

.bar-3 {
  grid-row: 5/6;
  color: rgb(147, 142, 142);
}


.project {
  font-size: 100%;
  /* margin: 0 auto; */
  margin-left: 20%;
  margin-top: 40px;
  background-color: white;
  width: 10%;
  height:100%;
  padding: 1%;
  
}


.project span {
  font-size: 200%;
}

#downloadcv {
  margin-left: 50%;
  margin-top: 1%;
  background-color: white;
  width: 16%;
  height: 50%;
  font-size: large;
  padding: 2% 1% 2% 1% ;
  font-size: 120%;
}

#downloadcv:hover {
  opacity: .7;
  /* transform: scale(1.1); */
}

button a {
  color: black;
}

button a:hover {
  color: black;
  text-decoration: none;
}

button {
  border: none;
}



/* Contact section styles */
#contact {
  background-color: black;
  padding: 80px 0;
}

.contact-content h2 {
  font-size: 220%;
  /* color: #333; */
  margin-bottom: 20px;
  border-bottom: solid #333 2px;
  width: 50%;
  padding-bottom: 10px;
  margin-left: 20%;
  color: white;
}

.msg{
  color: rgb(147, 142, 142);
  margin-left: 20%;
  margin-top: 20px;
}

.contact-info p{
  padding: 5px;
  margin-left: 20%;
  /* font-size: 50px; */
  color: rgb(147, 142, 142);
}


/* .contact-info {
  margin-left: 20%;
} */
form {
  margin-left: 20%;
}

input[type="text"], textarea{
  width: 80%;
  height: 0px;
  padding: 20px;
  margin: 5px 0;
  /* display: inline-block; */
  /* border: 2px solid rgb(236, 233, 233); */
  /* box-sizing: border-box; */
  /* box-shadow: 5px 5px 15px 8px #6f7364; */
  /* border-radius: 20%; */
  margin-bottom: 10px;
}

button {
  /* margin-left: 20%; */
  /* margin-top: 100px; */
  padding: 15px;
  width: 20%;
  /* margin-left: auto;
  margin-right: auto; */
  color: black;
  font-size: 80%;
  background: white;
  /* margin-bottom: 50px; */

}

button:hover{
  opacity: 0.7;
}


/* Footer styles */
footer {
  color: rgb(244, 238, 238);
  background-color: black;
  padding-bottom: 25px;
  /* background-attachment: fixed;
  background-size: 100% 100%; */
  /* margin: auto; */
  /* height: fit-content; */
}

footer .sec {
  margin-left: 20%;
  /* margin-top: 20px; */
}

footer p{
  margin-top: 20px;
}

footer i:hover{
  opacity: 0.7;
}




@media screen and (max-width: 700px) {
    header {
      opacity: 0.7;
      width: 100%; /* Full width */
      top: 0; /* Stay at the top */
      left: 0; /* Reset to the left */
      position: fixed; 
      height: 10% /* Auto height */
    }
    
    /* Hide the image container and navigation icons */
    .image-container {
      display: none;
      
    }
    
    nav {
    
      padding: 0% 10% 0% 5%;
      /* display: flex; */
      

    }

    nav a {
      margin-top: 5px;
      margin-left: 50px;
      /* padding-left: 25px; */
      background-color: black;
      width: 20%;
      height: 40px;
      display: inline-flex;
      justify-content: space-around;
    }

    .material-icons {
      display: none;
    }
    nav  :nth-last-child(3) {
      background-color: none;
      width: 20%;
    }

    #nav-icons {
      display: none;
    }

    nav a:hover{
      width: 20%;
    }

    .project {
      width: 15%;
      font-size: 80%;
    }

    #downloadcv {
      width: 22%;
      font-size: 80%;
      background-color: aqua;
    }
    

    button {
      width: 23%;
      font-size: 70%;
    }
    /* #feedback1 {
      margin-left: 20%;
    } */
  }
